//
//  APIKey.xcconfig
//  KMOOC_TCA
//
//  Created by Nam Hoon Jeong on 6/7/24.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

KMOOCAPI_KEY = ippi%2Fy9Gf3%2BA4JqB8D4T2JiHyZWq78e%2BSgmpwgpM5dpNadZ4v4qLHOzBm8nMNt8Kv2GST3iGtXWwxk3cqswLPg%3D%3D
